<main id="cityMain">
  <section class="background-color-black">
    <div class="display-flex space_between">
      <div class="margin_auto">
        <label>
          <input #input id="searchByName"  type="search" placeholder="City name"/>
        </label>
       <a routerLink="/result"><button (click)="search(input.value)">Search</button></a>
      </div>
    </div>
    <div *ngIf="city" class="background-color-black">
      <div class="display-flex">
        <div class="margin_auto color-white">
          <h1 class="text_size_50">{{ city.name }}</h1>
        </div>
      </div>
      <div class="display-flex">
        <div class="margin_auto color-white text_size_30">
          Air quality : {{ city.airQuality }}
        </div>
      </div>
      <div class="display-flex">
        <div class="margin_auto color-white text_size_30">
          Fine particle : {{ city.fineParticle }}
        </div>
      </div>
      <div class="display-flex">
        <div class="margin_auto color-white text_size_30">
          Heavy particle : {{ city.heavyParticle }}
        </div>
      </div>
      <div class="display-flex">
        <div class="margin_auto color-white text_size_30">
          Ozone : {{ city.ozone }}
        </div>
      </div>
      <div class="display-flex">
        <div class="margin_auto color-white text_size_30">
          Time : {{ city.datetime }}
        </div>
      </div>
    </div>
  </section>
</main>


