body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  flex: 0.5 1 auto;
}

mat-grid-tile {
  background: lightblue;
}

a {
  text-decoration: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.display-flex {
  display: flex;
}

.flex-end {
  align-content: flex-end;
}

.flex-start {
  align-content: flex-start;
}

.space_between {
  align-content: space-between;
}

.margin_auto {
  margin: auto;
}

.absolute {
  position: center;
}

.position_fixed {
  position: fixed;
}

.text_size_50 {
  font-size: 50px;
}

.text_size_30 {
  font-size: 30px;
}

.column {
  flex-direction: column;
}

.radius {
  border-radius: 20%;
}

.position_fixed {
  position: fixed;
}

.background-color-black {
  background-color: black;
}

.background-color-white {
  background-color: white;
}

.background-color-indigo {
  background-color: #3F51B5;
}

.color-white {
  color: white;
}

#homeMain {
  background-image: url("assets/pictures/home.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#searchMain {
  height: 50%;
  background-image: url("assets/pictures/search.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#resultMain {
  flex: 1 1 auto;
  background-image: url("assets/pictures/result.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#loginMain {
  flex: 1 1 auto;
  background-image: url("assets/pictures/home.jpg");
  background-size: cover;
  background-attachment: fixed
}

#userMain {
  flex: 1 1 auto;
  background-image: url("assets/pictures/home.jpg");
  background-size: cover;
  background-attachment: fixed
}
