.display-flex {
  display: flex;
}

.flex-end {
  align-content: flex-end;
}

.flex-start {
  align-content: flex-start;
}

.space_between {
  align-content: space-between;
}

.margin_auto {
  margin: auto;
}

.absolute {
  position: center;
}

.position_fixed {
  position: fixed;
}

.text_size_50 {
  font-size: 50px;
}
.text_size_30 {
  font-size: 30px;
}

.column {
  flex-direction: column;
}

.radius {
  border-radius: 20%;
}

.position_fixed {
  position: fixed;
}

.background-color-black {
  background-color: black;
}

.color-white {
  color: white;
}

.width-50pct {
  width: 15%;
}

#cardDisplay {
  width: 25%;
  height: 30%;

}

#cityMain {
  flex: 1 0 auto;
  background-image: url('../../../../assets/pictures/result.jpg');
  background-size: cover;
  background-attachment:fixed;
}

#loginMain {
  flex: 1 0 auto;
  background-image: url('../../../../assets/pictures/weather.jpg');
  background-size: cover;
  background-attachment:fixed
}

#userMain {
  flex: 1 0 auto;
  background-image: url('../../../../assets/pictures/weather.jpg');
  background-size: cover;
  background-attachment:fixed
}
