<main id="searchMain" class="display-flex">
  <div id="mat-spinner-div" class="background-color-white">
    <mat-spinner *ngIf="showSpinner" class="margin_auto"></mat-spinner>
  </div>
  <div class="display-flex margin_auto">
    <div class="margin_auto">
      <label>
        <input #input (keyup.enter)="search(input.value)" id="searchByName" type="search" placeholder="City name"/>
      </label>
      <a>
        <button (click)="search(input.value)">Search</button>
      </a>
    </div>
  </div>
</main>
